*, *::before, *::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, header, aside, img {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important; /* Firefox */
}

hr {
  height: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #F0F0F0;
}

.c-wrapper {
  margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .c-wrapper {
    width: calc(100% - 32px);
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .c-wrapper {
    width: 760px;
  }
}
@media all and (min-width: 1320px) {
  .c-wrapper {
    width: 1300px;
  }
}
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-01 {
    padding: 48px 0;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-B {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px 0;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .section-01 {
    padding: 64px 0;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-B {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;
  }
}
@media all and (min-width: 1320px) {
  .section-01 {
    padding: 80px 0;
  }
  .section-01 .c-wrapper {
    display: flex;
  }
  .section-01 .c-wrapper > .c-item-01 {
    width: 300px;
    margin-right: 24px;
    background: #FFF;
    padding: 16px;
    border-radius: 16px;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-A {
    margin-bottom: 24px;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-A .search-input {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    background: #F0F0F0;
    padding-left: 42px;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-A svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 20px;
    height: 20px;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-B {
    padding: 8px 8px 24px 8px;
    border: 1px solid #F0F0F0;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-B ul li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-B ul li input {
    width: 20px;
    height: 20px;
  }
  .section-01 .c-wrapper > .c-item-01 .c-item-01-B ul li label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #000000;
  }
  .section-01 .c-wrapper > .c-item-02 {
    flex: 1;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A {
    display: flex;
    margin-bottom: 48px;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A .clear-button {
    display: none;
    padding: 16px;
    background-color: #FFF;
    border: 1px solid red;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A .clear-button:hover {
    background-color: #CCC;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A .clear-button.show {
    display: flex;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A .sort-select-container {
    flex: 1;
    display: flex;
    justify-content: end;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A .sort-select-container .sort-select {
    padding: 8px;
    height: 40px;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-A .sort-select-container .sort-select option {
    padding: 8px;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-B {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 32px;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-C {
    margin-top: 48px;
    display: flex;
    justify-content: center;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-C button {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 24px;
    padding: 16px;
    opacity: 0.8;
    transition: opacity 0.25s;
    cursor: pointer;
  }
  .section-01 .c-wrapper > .c-item-02 > .c-item-02-C button:hover {
    opacity: 1;
  }
}
/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .header-01 {
    height: 64px;
    background-color: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 {
    display: none;
  }
  .header-01 .c-wrapper .c-item-02 svg {
    width: 121px;
    height: 32px;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 20px;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .header-01 {
    height: 76px;
    background-color: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 {
    display: none;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 26px;
  }
}
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .header-01 {
    height: 76px;
    background: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 {
    display: flex;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li > a:hover {
    opacity: 1;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li > a svg {
    margin-left: 6px;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li .level-2 {
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    box-shadow: 5px 10px 8px 10px #888888;
    position: absolute;
    z-index: 99;
    padding: 20px;
    width: 130px;
    border-radius: 10px;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li .level-2 > li > a {
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li .level-2 > li > a:hover {
    opacity: 1;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li .level-2 > li:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li:not(:last-child) {
    margin-right: 8px;
  }
  .header-01 .c-wrapper .c-item-01 .level-1 > li:hover .level-2 {
    visibility: visible;
    opacity: 1;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: none;
  }
}
/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .footer-01 {
    padding: 32px 0;
  }
  .footer-01 .c-wrapper .c-item-01 {
    display: flex;
    padding-top: 100px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 {
    width: 50%;
    border-top: 1px solid #CCD5DF;
    padding-top: 32px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a:hover {
    opacity: 1;
  }
  .footer-01 .c-wrapper .c-item-01 .logo {
    position: absolute;
    left: calc(50% - 76px);
    top: 0;
  }
  .footer-01 .c-wrapper .c-item-02 {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #CCD5DF;
  }
  .footer-01 .c-wrapper .c-item-03 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .footer-01 {
    padding: 80px 0;
  }
  .footer-01 .c-wrapper .c-item-01 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul {
    display: flex;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li:not(:last-child) {
    margin-right: 24px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a:hover {
    opacity: 1;
  }
  .footer-01 .c-wrapper .c-item-01 .logo {
    position: absolute;
    left: 0;
  }
  .footer-01 .c-wrapper .c-item-01 .c-item-01-A > ul > li:last-child {
    margin-right: 24px;
  }
  .footer-01 .c-wrapper .c-item-02 {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #CCD5DF;
  }
  .footer-01 .c-wrapper .c-item-03 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
  }
}
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .footer-01 {
    padding: 80px 0;
  }
  .footer-01 .c-wrapper .c-item-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul {
    display: flex;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li:not(:last-child) {
    margin-right: 24px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a:hover {
    opacity: 1;
  }
  .footer-01 .c-wrapper .c-item-01 .logo {
    position: absolute;
    left: calc(50% - 76px);
  }
  .footer-01 .c-wrapper .c-item-02 {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #CCD5DF;
  }
  .footer-01 .c-wrapper .c-item-03 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
  }
}
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .card-01 {
    display: block;
  }
  .card-01 .c-item-01 {
    width: 100%;
    height: 381px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 12px;
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .card-01 .c-item-02 {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
  .card-01 .c-item-03 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #532C59;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .card-01 {
    display: block;
  }
  .card-01 .c-item-01 {
    width: 100%;
    height: 381px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 16px;
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .card-01 .c-item-02 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
  .card-01 .c-item-03 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
  }
}
@media all and (min-width: 1320px) {
  .card-01 {
    display: block;
  }
  .card-01 .c-item-01 {
    width: 100%;
    height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 16px;
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .card-01 .c-item-02 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  .card-01 .c-item-03 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
  }
}
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Syne";
  font-size: 100%;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=Base.css.map */