@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";


/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-03 {
        padding: 48px 0;
        background: $neutral-025;

        .c-wrapper {


            .c-container-01 {
                margin-bottom: 32px;


                > .c-item-01 {
                    margin-bottom: 32px;

                    > svg {
                        width: 60px;
                        height: 60px;
                    }
                }

                > .c-item-02 {
                    width: calc(100% - 20px);
                    margin-bottom: 16px;
                }

                > .c-item-03 {
                    width: calc(100% - 20px);
                }
            }

            .c-container-02 {
                display: flex;
            }

            .c-container-03 {
                margin-top: 32px;
                display: flex;
                justify-content: center;

            }
        }

        .owl-carousel.owl-theme .owl-stage-outer {
            width: calc(100% + 40px);
            margin: 0 0 0 -20px;
            padding-left: 20px;
        }

        .owl-carousel.owl-theme {
            width: calc(100% + 40px);
            margin: 0 0 0 -20px;
            padding-left: 20px;
        }
    }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
    .section-03 {
        padding: 96px 0 120px 0;
        border-radius: 80px;
        background: $neutral-025;

        .c-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            .c-container-01 {
                margin-bottom: 64px;
                display: flex;
                flex-direction: column;
                align-items: center;

                > .c-item-01 {
                    margin-bottom: 48px;
                }

                > .c-item-02 {
                    width: 836px;
                    margin-bottom: 16px;
                    text-align: center;
                }

                > .c-item-03 {
                }
            }

            .c-container-02 {
                display: grid !important;
            }

            .c-container-03 {
                width:296px;
                margin-top: 60px;
                display: flex;
                justify-content: center;
            }
        }
    }
}
