@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";


/* Default xs1,sm ,md ,lg */


/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-04 {
        background: #FFFFFF;
        padding: 20px 0 48px 0;

        .c-wrapper {
            display: flex;
            flex-direction: column;

            .c-container-01 {
               
            }

            .c-container-02 {
                margin-top: 32px;
      
            }
        }
    }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
    .section-04 {
        background: #FFFFFF;
        padding: 25px 0 132px 0;

        .c-wrapper {
            display: flex;
            flex-direction: column;

            .c-container-01 {
                padding: 20px;
                background: $neutral-025;
                border-radius: 12px;

                #campaign-list-form {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .c-container-02 {
                margin-top: 48px;
            }
        }
    }
}
