/* Neutral */
/* Accent */
/* System */
/* Information */
/* Warning */
/* Success */
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-01 .c-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px 0 48px 0;
  }
  .section-01 .c-wrapper .c-container-01 {
    margin-top: 40px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-01 {
    width: 315px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-02 {
    width: 315px;
    margin-top: 16px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 {
    margin-top: 32px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01 {
    width: 100%;
    display: flex;
    padding: 8px 32px 8px 8px;
    margin-bottom: 8px;
    background-color: #F5F5F5;
    border-radius: 16px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01:last-child {
    margin-bottom: 0;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01:nth-child(odd) {
    background-color: #E0E0E0;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01:nth-child(odd) > .c-unit-01-A {
    background-color: #000000;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01 > .c-unit-01-A {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 12px;
    margin-right: 16px;
    border-radius: 12px;
    background-color: #D8FF00;
    text-align: center;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01 > .c-unit-01-B {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .section-01 .c-wrapper .c-container-02 {
    width: 100%;
  }
  .section-01 .c-wrapper .c-container-02 .c-item-01 {
    width: 100%;
    height: auto;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-01 .c-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .section-01 .c-wrapper .c-container-01 {
    width: 580px;
    padding: 120px 0;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-01 {
    width: 580px;
    text-align: left;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-02 {
    width: 512px;
    margin-top: 16px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 {
    width: 513px;
    margin-top: 60px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01 {
    display: flex;
    justify-content: space-between;
    width: 513px;
    height: 120px;
    padding: 8px 60px 8px 8px;
    margin-bottom: 8px;
    background-color: #F5F5F5;
    border-radius: 20px;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01:last-child {
    margin-bottom: 0;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01:nth-child(odd) {
    background-color: #E0E0E0;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01:nth-child(odd) > .c-unit-01-A {
    background-color: #000000;
    text-align: center;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01 > .c-unit-01-A {
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border-radius: 16px;
    text-align: center;
    background-color: #D8FF00;
  }
  .section-01 .c-wrapper .c-container-01 .c-item-03 .c-unit-01 > .c-unit-01-B {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 317px;
  }
  .section-01 .c-wrapper .c-container-02 {
    width: 620px;
    padding: 160px 0 120px 0;
  }
  .section-01 .c-wrapper .c-container-02 .c-item-01 {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=Section01.css.map */