@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";


/* Default xs1,sm ,md ,lg */


/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-08 {
        background: #FFFFFF;
        padding: 32px 0 40px 0;


        .c-wrapper {
            display: flex;

            .c-container-01 {
                display: none;
            }

            .c-container-02 {
                .c-item-01 {
                    margin: 0 20px 24px 0;
                }

                > ul {
                    margin-bottom: 60px;
                    margin-right: 12px;

                    > li {
                        padding-left: 24px;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            left: 0;
                            background-image: svg-background-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.7812 7.33312L7.20517 3.75712L8.14784 2.81445L13.3332 7.99979L8.14784 13.1851L7.20517 12.2425L10.7812 8.66645H2.6665V7.33312H10.7812Z" fill="black"/> </svg> ');
                            background-repeat: no-repeat;
                        }

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                }

                .c-item-03 {
                    display: flex;
                    flex-wrap: wrap;
                    width:330px;

                    .c-unit-01 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 36px;
                        padding: 0 20px;
                        background: $neutral-025;
                        border-radius: 8px;
                        margin-bottom: 8px;

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
    .section-08 {
        background: #FFFFFF;
        padding: 80px 0 120px 0;

        .c-wrapper {
            display: flex;

            .c-container-01 {
                margin-right: 160px;

                .c-item-01 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 56px;
                    height: 56px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 50%;

                    &:hover {
                        background: #000000;
                       
                        path {
                            fill: #D8FF00;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
            }

            .c-container-02 {
                .c-item-01 {
                    width: 836px;
                    margin-bottom: 48px;
                }

                > ul {
                    margin-bottom: 60px;

                    > li {
                        padding-left: 36px;
                        width: 752px;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            left: 0;
                            background-image: svg-background-image('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M13.4768 9.16689L9.00683 4.69689L10.1852 3.51855L16.6668 10.0002L10.1852 16.4819L9.00683 15.3036L13.4768 10.8336H3.3335V9.16689H13.4768Z" fill="black"/> </svg> ');
                            background-repeat: no-repeat;
                        }

                        > p {
                        }

                        &:not(:last-child) {
                            margin-bottom: 24px;
                        }
                    }
                }

                .c-item-03 {
                    display: flex;

                    .c-unit-01 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 36px;
                        padding: 4px 20px;
                        background: $neutral-025;
                        border-radius: 8px;
                        color: #000000;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 28px;

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}
