@import "../../../Base/Global.scss";
@import "../../../Base/Colour.scss";


/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .card-02 {
        display: block;
        background: #FFFFFF;
        border: 1px solid #D6BCFA;
        border-radius: 10px;
        padding: 12px;

        .c-item-01 {
            margin-bottom: 16px;
            display: flex;

            .c-item-01-A {
                width: 48px;
                height: 48px;
                object-fit: cover;
                margin-right: 6px;
            }

            .c-item-01-B {
                .c-unit-01 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }

                .c-unit-02 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    opacity: 0.5;
                }
            }
        }

        .c-item-02 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #532C59;
        }

    }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .card-02 {
        display: block;
        background: #FFFFFF;
        border: 1px solid #D6BCFA;
        border-radius: 10px;
        padding: 12px;

        .c-item-01 {
            margin-bottom: 16px;
            display: flex;

            .c-item-01-A {
                width: 48px;
                height: 48px;
                object-fit: cover;
                margin-right: 6px;
            }

            .c-item-01-B {
                .c-unit-01 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }

                .c-unit-02 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    opacity: 0.5;
                }
            }
        }

        .c-item-02 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #532C59;
        }

    }
}

@media all and (min-width: #{$mq-md + "px"}) {
    .card-02 {
        display: block;
        background: #FFFFFF;
        border: 1px solid #D6BCFA;
        border-radius: 10px;
        padding: 24px;

        .c-item-01 {
            margin-bottom: 16px;
            display: flex;

            .c-item-01-A {
                width: 48px;
                height: 48px;
                object-fit: cover;
                margin-right: 12px;
            }

            .c-item-01-B {
                .c-unit-01 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }

                .c-unit-02 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    opacity: 0.5;
                }
            }
        }

        .c-item-02 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #532C59;
        }

    }
}